#search{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: center;
    width: 100%;
}
#searchBar{
    width: 50%;
    text-align: center;
}
#teamCard{
    text-align: center;
}
.col-1, .col-2{
    width: 50%;
    float: left;
}
